---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import enStrings from "@utils/navigation.ts";
import frStrings from "@utils/fr/navigation.ts";
import Icon from "@components/ui/icons/Icon.astro";

// Select the correct translation based on the page's lang prop:
const strings = Astro.currentLocale === "fr" ? frStrings : enStrings;

// Define the variables that will be used in this component
const sectionThreeTitle: string =
  Astro.currentLocale === "fr" ? "Rester à jour" : "Stay up to date";
const sectionThreeContent: string =
  Astro.currentLocale === "fr"
    ? "Restez informé des derniers outils et des offres exclusives."
    : "Stay updated with the latest tools and exclusive deals.";
const crafted: string =
  Astro.currentLocale === "fr" ? "Fabriqué par" : "Crafted by";
---

<footer class="flex w-full bg-neutral-300 dark:bg-neutral-900">
  <!-- Social Brands -->
  <div style="align-items: center;">
    <FooterSocialLink url={strings.socialLinks.facebook}
      ><Icon name="facebookFooter" />
    </FooterSocialLink>
  </div>
</footer>
